{% comment %}
  Renders a product card
  Accepts:
  - product: {Object} Product Liquid object
{% endcomment %}

<div class="flex flex-col items-center text-center group">
  <div class="overflow-hidden rounded-3xl mb-6 border border-gray-100 w-full max-w-[236px]">
    <a href="{{ product.url }}">
      <img 
        src="{{ product.featured_image | img_url: '400x' }}" 
        alt="{{ product.title }}" 
        class="w-full h-auto object-cover hover:scale-105 transition-transform duration-300"
        loading="lazy"
        width="236"
        height="236"
      />
    </a>
  </div>
  <h3 class="text-[16px] text-brand-strong font-normal mb-2 px-4">
    <a href="{{ product.url }}" class="hover:text-brand-text transition-colors">
      {{ product.title | remove: 'LÉGER LAB' }}
    </a>
  </h3>
  <p class="text-[16px] font-bold text-brand-strong mb-4">{{ product.price | money }}</p>
  <div class="text-[14px] text-brand-strong mb-6 px-4 h-[80px] overflow-hidden">
    {{ product.description | strip_html | truncate: 100 }}
  </div>
  <a
    href="{{ product.url }}"
    class="bg-white text-brand-strong border border-brand-strong px-10 py-2 rounded-full font-normal text-[16px] hover:bg-brand-soft transition-colors inline-block"
  >
    ACQUISTA ORA
  </a>
</div>
